/* color scheme sourced from https://coolors.co/generate */
:root {
    --blackish: #031926;
    --darkred: #4c061d;
    --steel: #558c8c;
    --cream: #f5f7dc;
    --egg: #f4fff8;
}

h1 {
    font-size: 2rem}

header {
    background-color: var(--darkred);
    color: var(--cream);
    height: 130px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}
header h1 {
    padding: 10px;
    margin: 10px;
    /* border: 1px solid white; */
    flex: 1 1 auto;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.nav-bar a {
    border: 1px solid var(--egg);
    flex: 1 1 auto;
    text-align: center;
    background-color: var(--blackish);
    margin: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
}
.showcase{
    order: 2;
    background-color: var(--egg);
    color: var(--blackish);
    width: 70%;
}
.about-me {
    order: 1;
    background-color: var(--steel);
    color: var(--cream);
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.selfie {
    flex: 1 1 100px;
    width: 100px;
    border: 2px solid var(--blackish);
    border-radius: 40%;
    align-self: center;
}

.contact-info {
    background-color: var(--darkred);
    color: var(--cream);
    height: 90px;
    text-align: center;
    padding: 20px;
}
.contact-info h2, .contact-info p {
    background-color: var(--blackish);
    /* width: 50%; */
}

/* 
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px){
.nav-bar {
    flex-direction: column;
}
} */

