/* color scheme sourced from https://coolors.co/generate */
:root {
    --blackish: #031926;
    --darkred: #4c061d;
    --steel: #558c8c;
    --cream: #f5f7dc;
    --egg: #f4fff8;
}

h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
p  { font-size: 16px; }
/*==========*/
.top-bar {
    background-color: var(--darkred);
    color: var(--cream);
    height: 130px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/*-----------*/
.top-bar .title {
    display: flex;
    flex-flow: row nowrap;
}
.top-bar .icon {
    width:80px;
    margin: 10px;
    border: 2px solid var(--blackish);
}
.top-bar .title h1 {
    padding: 10px;
    margin: 10px;;
    flex: 1 1 auto;
}

/*-----------*/
.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.nav-bar a {
    border: 1px solid var(--egg);
    flex: 1 1 auto;
    text-align: center;
    background-color: var(--blackish);
    margin: 10px;
} 

/*==========*/
.middle-bar {
    display: flex;
    flex-flow: row wrap;
}

/*-----------*/
.showcase{
    order: 2;
    background-color: var(--blackish);
    color: var(--cream);
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
}
.showcase h2 {
    background-color: var(--steel);
    border: 1px solid var(--cream);
    text-align: center;
}

/*-----------*/
.proj-card {
    display: flex;
    flex-flow: column nowrap;
}
.proj-card h3 {
    border: 2px solid var(--cream);
}

/*-----------*/

.big-proj {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}
.big-proj .proj-card .main-proj-img{
    margin-top: 20px;
    width: 600px;
}

/*-----------*/
.proj-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}
.proj-row .proj-card .proj-img {
    margin-top: 20px;
    width: 350px;
}

/*==========*/
.about-me {
    order: 1;
    background-color: var(--steel);
    color: var(--egg);
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 15px;
    justify-content: center;
    border: 10px solid var(--blackish);
}
.about-me .selfie {
    flex: 0 0 150px;
    width: 150px;
    border: 2px solid var(--blackish);
    border-radius: 40%;
    align-self: center;
    margin: 10px;
}
.about-me .am-text {
    padding: 15px;
}

/*==========*/
.bottom-bar {
    background-color: var(--darkred);
    color: var(--cream);
    height: 90px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
}
.bottom-bar h2 {
    text-decoration: underline;
}
.bottom-bar .spacer, .bottom-bar .info-box {
    width: 33%;
    align-self: center;
    padding: 6px;
}
.info-box {
    background-color: var(--blackish);
    border: 2px solid var(--cream);
    overflow-wrap: break-word;
    line-height: 23px;
}

/*==========*/
@media screen and (max-width: 992px) {
    .middle-bar { flex-direction: column; }
    .about-me { 
        flex-flow: row nowrap; 
        width: 100%;
        align-items: center;
    }
    .showcase { width: 100%; }
}

@media screen and (max-width: 768px){
    .nav-bar { flex-direction: column; }
    .nav-bar a { margin: 0px; }
    .bottom-bar .spacer { display: none; }
    .bottom-bar .info-box { width: 100%; }
}